@mixin visually-hidden() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@mixin container() {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  
     @media (min-width: $tablets) {
      width: 660px;
    }
  
    @media (min-width: $desktops) {
      width: 960px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }