/*project colors */
$bg-darkgrey:#292929;
$bg-lightgrey:#f8f5f2;




/*global font rules*/
$font: "PT Sans Narrow", "Arial", sans-serif;
$font-size: 18px;
$line-height: 24px;


/*sizes and breakpoints*/


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
