body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font;
  color: #f7f4f1;
  font-style: normal;

  background-color: $bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
