.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 19px 68px;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    color: #000000;

    border: 1px solid #000000;
}